/* color del fondo: aplica un degradado horizontal al fondo de toda la página */
body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(138, 138, 255, 1) 35%, rgba(148, 235, 255, 1) 100%);
}
/* color de barra de navegación: aplica un degradado horizontal al fondo de la barra de navegación */
nav {
    background: linear-gradient(90deg, rgba(187, 184, 227, 1) 0%, rgba(85, 85, 173, 1) 35%, rgba(120, 232, 255, 1) 100%);
}
/* tamaño de las imágenes del carrusel: ancho completo, altura fija y recorte para que se vean bien */
.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover; 
}


